﻿@{
    ViewData["Title"] = "Home Page";
}


<header>
    <h2>3HTD</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <h1>Đỗ Hoàng Phúc</h1>
        <p>Chào mọi người, chúc mọi người ngày mới vui vẻ.</p>
    </article>
</section>

<footer>
    <p>Copyright &copy; Do Hoang Phuc - @DateTime.Now.Year</p>
</footer>   